body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background:white;
	color:rgb(73,83,90);
}

h1 {
	font-size:36;
	font-weight: 300;
	margin-bottom:15px;
}

h2 {
	font-size:28;
	font-weight: 100;
}

a {
	text-decoration:none;
	color:rgb(130,146,150);
}

table, tbody, th, td, tr
{
	border: none;
	padding: 0px;
	margin: 0px;
	vertical-align: top;
}

#bio {
	font-size:11;
	color:rgb(130,146,150);
	text-align: center;
	margin:10px;
	margin-bottom:15px;
}

#footer {
	font-size:11;
	color:rgb(130,146,150);
	text-align: center;
	margin:10px;
	margin-bottom:15px;
}

#instagram  {
	text-align: center;
}

div.instagram_entry {
	margin-bottom: 15px;
}

div.instagram_date {
	display:inline-block;
	float:left;
	margin-right: 10px;
}

div.instagram_image {
	display:inline-block;
	max-width:612px;
	margin-bottom: 10px;
}

div.instagram_caption {
	text-align: left;
}

img {
     max-width: 100%;
}

.ss-icon {
	font-size:24;
	letter-spacing:5px;
	color:rgb(73,83,90);
}

@media only screen and (max-width: 1024px) {
	#content{
		text-align: left;
		clear: both;
		position:	static;
		top:	180px;
		bottom: 0px;
		right:	0px;
		left:	0px;
		padding:0px;
		margin: 0px;
		height: auto;
		width: 100%;
		overflow: hidden;
	}
}